body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:290px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:290px;
}
#u1 {
  position:absolute;
  left:2px;
  top:137px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:50px;
  width:640px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:50px;
  width:170px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:100px;
  width:640px;
  height:190px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:190px;
}
#u11 {
  position:absolute;
  left:2px;
  top:87px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:100px;
  width:170px;
  height:190px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:190px;
}
#u13 {
  position:absolute;
  left:2px;
  top:87px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:17px;
  top:13px;
  width:87px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:17px;
  top:65px;
  width:121px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:25px;
  top:172px;
  width:109px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:180px;
  top:11px;
  width:310px;
  height:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:28px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:180px;
  top:63px;
  width:310px;
  height:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:28px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:180px;
  top:110px;
  width:450px;
  height:170px;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:170px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
