body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:985px;
  height:38px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:33px;
}
#u2 {
  position:absolute;
  left:2px;
  top:9px;
  width:92px;
  word-wrap:break-word;
}
#u1_ann {
  position:absolute;
  left:82px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:96px;
  top:0px;
  width:93px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:33px;
}
#u4 {
  position:absolute;
  left:2px;
  top:9px;
  width:89px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:189px;
  top:0px;
  width:112px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:33px;
}
#u6 {
  position:absolute;
  left:2px;
  top:9px;
  width:108px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:301px;
  top:0px;
  width:243px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:33px;
}
#u8 {
  position:absolute;
  left:2px;
  top:9px;
  width:239px;
  word-wrap:break-word;
}
#u7_ann {
  position:absolute;
  left:530px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:544px;
  top:0px;
  width:113px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u10 {
  position:absolute;
  left:2px;
  top:9px;
  width:109px;
  word-wrap:break-word;
}
#u9_ann {
  position:absolute;
  left:643px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:657px;
  top:0px;
  width:323px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:33px;
}
#u12 {
  position:absolute;
  left:2px;
  top:9px;
  width:319px;
  word-wrap:break-word;
}
