body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1127px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:80px;
  width:1132px;
  height:71px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u2 {
  position:absolute;
  left:2px;
  top:9px;
  width:83px;
  word-wrap:break-word;
}
#u1_ann {
  position:absolute;
  left:73px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:87px;
  top:0px;
  width:84px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:33px;
}
#u4 {
  position:absolute;
  left:2px;
  top:9px;
  width:80px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:171px;
  top:0px;
  width:254px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:33px;
}
#u6 {
  position:absolute;
  left:2px;
  top:9px;
  width:250px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:425px;
  top:0px;
  width:236px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:33px;
}
#u8 {
  position:absolute;
  left:2px;
  top:9px;
  width:232px;
  word-wrap:break-word;
}
#u7_ann {
  position:absolute;
  left:647px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:661px;
  top:0px;
  width:283px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:33px;
}
#u10 {
  position:absolute;
  left:2px;
  top:9px;
  width:279px;
  word-wrap:break-word;
}
#u9_ann {
  position:absolute;
  left:930px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:944px;
  top:0px;
  width:183px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:33px;
}
#u12 {
  position:absolute;
  left:2px;
  top:9px;
  width:179px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:33px;
  width:87px;
  height:33px;
  color:#1E1E1E;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:87px;
  top:33px;
  width:84px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:33px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:171px;
  top:33px;
  width:254px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:33px;
}
#u18 {
  position:absolute;
  left:2px;
  top:9px;
  width:250px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:425px;
  top:33px;
  width:236px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:33px;
}
#u20 {
  position:absolute;
  left:2px;
  top:9px;
  width:232px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:661px;
  top:33px;
  width:283px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:33px;
}
#u22 {
  position:absolute;
  left:2px;
  top:9px;
  width:279px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:944px;
  top:33px;
  width:183px;
  height:33px;
  font-size:11px;
  color:#0000FF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:33px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:179px;
  word-wrap:break-word;
}
