body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1998px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:2003px;
  height:2045px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u2 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:77px;
  top:0px;
  width:202px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:20px;
}
#u4 {
  position:absolute;
  left:2px;
  top:2px;
  width:198px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:279px;
  top:0px;
  width:247px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:20px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:243px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:526px;
  top:0px;
  width:229px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:225px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:755px;
  top:0px;
  width:839px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:835px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1594px;
  top:0px;
  width:241px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:20px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:237px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1835px;
  top:0px;
  width:163px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:20px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:159px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:20px;
  width:77px;
  height:36px;
  color:#1E1E1E;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:77px;
  top:20px;
  width:202px;
  height:36px;
  color:#1E1E1E;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:279px;
  top:20px;
  width:247px;
  height:36px;
  color:#1E1E1E;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:36px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:526px;
  top:20px;
  width:229px;
  height:36px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:225px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:755px;
  top:20px;
  width:839px;
  height:36px;
  color:#1E1E1E;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:36px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:835px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1594px;
  top:20px;
  width:241px;
  height:36px;
  color:#1E1E1E;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1835px;
  top:20px;
  width:163px;
  height:36px;
  color:#1E1E1E;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:56px;
  width:77px;
  height:148px;
  color:#1E1E1E;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:148px;
}
#u30 {
  position:absolute;
  left:2px;
  top:66px;
  width:73px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:77px;
  top:56px;
  width:202px;
  height:148px;
  color:#1E1E1E;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:148px;
}
#u32 {
  position:absolute;
  left:2px;
  top:58px;
  width:198px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:279px;
  top:56px;
  width:247px;
  height:148px;
  color:#1E1E1E;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:148px;
}
#u34 {
  position:absolute;
  left:2px;
  top:66px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:526px;
  top:56px;
  width:229px;
  height:148px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:148px;
}
#u36 {
  position:absolute;
  left:2px;
  top:58px;
  width:225px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:755px;
  top:56px;
  width:839px;
  height:148px;
  color:#1E1E1E;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:148px;
}
#u38 {
  position:absolute;
  left:2px;
  top:42px;
  width:835px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1594px;
  top:56px;
  width:241px;
  height:148px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:148px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:237px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1835px;
  top:56px;
  width:163px;
  height:148px;
  color:#1E1E1E;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:148px;
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:204px;
  width:77px;
  height:52px;
  color:#1E1E1E;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:52px;
}
#u44 {
  position:absolute;
  left:2px;
  top:18px;
  width:73px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:77px;
  top:204px;
  width:202px;
  height:52px;
  color:#1E1E1E;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:52px;
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:279px;
  top:204px;
  width:247px;
  height:52px;
  color:#1E1E1E;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:52px;
}
#u48 {
  position:absolute;
  left:2px;
  top:18px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:526px;
  top:204px;
  width:229px;
  height:52px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:52px;
}
#u50 {
  position:absolute;
  left:2px;
  top:10px;
  width:225px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:755px;
  top:204px;
  width:839px;
  height:52px;
  color:#1E1E1E;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:52px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:835px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:1594px;
  top:204px;
  width:241px;
  height:52px;
  color:#1E1E1E;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:52px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:1835px;
  top:204px;
  width:163px;
  height:52px;
  color:#1E1E1E;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:52px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:256px;
  width:77px;
  height:68px;
  color:#1E1E1E;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:68px;
}
#u58 {
  position:absolute;
  left:2px;
  top:26px;
  width:73px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:77px;
  top:256px;
  width:202px;
  height:68px;
  color:#1E1E1E;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:68px;
}
#u60 {
  position:absolute;
  left:2px;
  top:26px;
  width:198px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:279px;
  top:256px;
  width:247px;
  height:68px;
  color:#1E1E1E;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:68px;
}
#u62 {
  position:absolute;
  left:2px;
  top:26px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:526px;
  top:256px;
  width:229px;
  height:68px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:68px;
}
#u64 {
  position:absolute;
  left:2px;
  top:18px;
  width:225px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:755px;
  top:256px;
  width:839px;
  height:68px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:68px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:835px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:1594px;
  top:256px;
  width:241px;
  height:68px;
  color:#1E1E1E;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:68px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1835px;
  top:256px;
  width:163px;
  height:68px;
  color:#1E1E1E;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:68px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:324px;
  width:77px;
  height:484px;
  color:#1E1E1E;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:484px;
}
#u72 {
  position:absolute;
  left:2px;
  top:234px;
  width:73px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:77px;
  top:324px;
  width:202px;
  height:484px;
  color:#1E1E1E;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:484px;
}
#u74 {
  position:absolute;
  left:2px;
  top:226px;
  width:198px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:279px;
  top:324px;
  width:247px;
  height:484px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:484px;
}
#u76 {
  position:absolute;
  left:2px;
  top:218px;
  width:243px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:526px;
  top:324px;
  width:229px;
  height:484px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:484px;
}
#u78 {
  position:absolute;
  left:2px;
  top:226px;
  width:225px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:755px;
  top:324px;
  width:839px;
  height:484px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:484px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:835px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1594px;
  top:324px;
  width:241px;
  height:484px;
  color:#1E1E1E;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:484px;
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:1835px;
  top:324px;
  width:163px;
  height:484px;
  color:#1E1E1E;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:484px;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:0px;
  top:808px;
  width:77px;
  height:484px;
  color:#1E1E1E;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:484px;
}
#u86 {
  position:absolute;
  left:2px;
  top:234px;
  width:73px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:77px;
  top:808px;
  width:202px;
  height:484px;
  color:#1E1E1E;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:484px;
}
#u88 {
  position:absolute;
  left:2px;
  top:226px;
  width:198px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:279px;
  top:808px;
  width:247px;
  height:484px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:484px;
}
#u90 {
  position:absolute;
  left:2px;
  top:218px;
  width:243px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:526px;
  top:808px;
  width:229px;
  height:484px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:484px;
}
#u92 {
  position:absolute;
  left:2px;
  top:226px;
  width:225px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:755px;
  top:808px;
  width:839px;
  height:484px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:484px;
}
#u94 {
  position:absolute;
  left:2px;
  top:2px;
  width:835px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:1594px;
  top:808px;
  width:241px;
  height:484px;
  color:#1E1E1E;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:484px;
}
#u96 {
  position:absolute;
  left:2px;
  top:2px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:1835px;
  top:808px;
  width:163px;
  height:484px;
  color:#1E1E1E;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:484px;
}
#u98 {
  position:absolute;
  left:2px;
  top:2px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:0px;
  top:1292px;
  width:77px;
  height:244px;
  color:#1E1E1E;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:244px;
}
#u100 {
  position:absolute;
  left:2px;
  top:114px;
  width:73px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:77px;
  top:1292px;
  width:202px;
  height:244px;
  color:#1E1E1E;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:244px;
}
#u102 {
  position:absolute;
  left:2px;
  top:114px;
  width:198px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:279px;
  top:1292px;
  width:247px;
  height:244px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:244px;
}
#u104 {
  position:absolute;
  left:2px;
  top:98px;
  width:243px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:526px;
  top:1292px;
  width:229px;
  height:244px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:244px;
}
#u106 {
  position:absolute;
  left:2px;
  top:106px;
  width:225px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:755px;
  top:1292px;
  width:839px;
  height:244px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:244px;
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:835px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1594px;
  top:1292px;
  width:241px;
  height:244px;
  color:#1E1E1E;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:244px;
}
#u110 {
  position:absolute;
  left:2px;
  top:2px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:1835px;
  top:1292px;
  width:163px;
  height:244px;
  color:#1E1E1E;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:244px;
}
#u112 {
  position:absolute;
  left:2px;
  top:2px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:0px;
  top:1536px;
  width:77px;
  height:260px;
  color:#1E1E1E;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:260px;
}
#u114 {
  position:absolute;
  left:2px;
  top:122px;
  width:73px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:77px;
  top:1536px;
  width:202px;
  height:260px;
  color:#1E1E1E;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:260px;
}
#u116 {
  position:absolute;
  left:2px;
  top:122px;
  width:198px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:279px;
  top:1536px;
  width:247px;
  height:260px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:260px;
}
#u118 {
  position:absolute;
  left:2px;
  top:106px;
  width:243px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:526px;
  top:1536px;
  width:229px;
  height:260px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:260px;
}
#u120 {
  position:absolute;
  left:2px;
  top:114px;
  width:225px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:755px;
  top:1536px;
  width:839px;
  height:260px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:260px;
}
#u122 {
  position:absolute;
  left:2px;
  top:2px;
  width:835px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1594px;
  top:1536px;
  width:241px;
  height:260px;
  color:#1E1E1E;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:260px;
}
#u124 {
  position:absolute;
  left:2px;
  top:2px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:1835px;
  top:1536px;
  width:163px;
  height:260px;
  color:#1E1E1E;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:260px;
}
#u126 {
  position:absolute;
  left:2px;
  top:2px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:0px;
  top:1796px;
  width:77px;
  height:244px;
  color:#1E1E1E;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:244px;
}
#u128 {
  position:absolute;
  left:2px;
  top:114px;
  width:73px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:77px;
  top:1796px;
  width:202px;
  height:244px;
  color:#1E1E1E;
  text-align:center;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:244px;
}
#u130 {
  position:absolute;
  left:2px;
  top:114px;
  width:198px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:279px;
  top:1796px;
  width:247px;
  height:244px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:244px;
}
#u132 {
  position:absolute;
  left:2px;
  top:98px;
  width:243px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:526px;
  top:1796px;
  width:229px;
  height:244px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:244px;
}
#u134 {
  position:absolute;
  left:2px;
  top:106px;
  width:225px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:755px;
  top:1796px;
  width:839px;
  height:244px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:244px;
}
#u136 {
  position:absolute;
  left:2px;
  top:2px;
  width:835px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:1594px;
  top:1796px;
  width:241px;
  height:244px;
  color:#1E1E1E;
  text-align:center;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:244px;
}
#u138 {
  position:absolute;
  left:2px;
  top:2px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:1835px;
  top:1796px;
  width:163px;
  height:244px;
  color:#1E1E1E;
  text-align:center;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:244px;
}
#u140 {
  position:absolute;
  left:2px;
  top:2px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
