body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:40px;
  width:780px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:408px;
  top:470px;
  width:130px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:262px;
  top:470px;
  width:130px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:262px;
  top:14px;
  width:277px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:471px;
  top:50px;
  width:178px;
  height:22px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
  background-color:#CCCCCC;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u9 {
  position:absolute;
  left:661px;
  top:53px;
  width:122px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:472px;
  top:75px;
  width:177px;
  height:22px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:22px;
  background-color:#CCCCCC;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u12 {
  position:absolute;
  left:367px;
  top:79px;
  width:99px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:139px;
  top:75px;
  width:177px;
  height:22px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:22px;
  background-color:#CCCCCC;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u15 {
  position:absolute;
  left:372px;
  top:53px;
  width:94px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:139px;
  top:50px;
  width:177px;
  height:22px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:22px;
  background-color:#CCCCCC;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u18 {
  position:absolute;
  left:321px;
  top:129px;
  width:145px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:654px;
  top:79px;
  width:129px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:640px;
  top:129px;
  width:143px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:472px;
  top:125px;
  width:177px;
  height:22px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:22px;
  background-color:#CCCCCC;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u25 {
  position:absolute;
  left:139px;
  top:125px;
  width:177px;
  height:22px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:22px;
  background-color:#CCCCCC;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u26 {
  position:absolute;
  left:638px;
  top:154px;
  width:145px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:472px;
  top:150px;
  width:177px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u29 {
  position:absolute;
  left:472px;
  top:178px;
  width:177px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u30 {
  position:absolute;
  left:638px;
  top:182px;
  width:145px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:307px;
  top:154px;
  width:159px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:139px;
  top:150px;
  width:177px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u35 {
  position:absolute;
  left:638px;
  top:252px;
  width:145px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:262px;
  top:210px;
  width:387px;
  height:100px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:100px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38 {
  position:absolute;
  left:243px;
  top:210px;
  width:16px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
