body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:640px;
  height:290px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:290px;
}
#u1 {
  position:absolute;
  left:2px;
  top:137px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:640px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:636px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:10px;
  width:170px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:60px;
  width:640px;
  height:50px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:636px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:10px;
  top:60px;
  width:170px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:10px;
  top:110px;
  width:640px;
  height:190px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:190px;
}
#u11 {
  position:absolute;
  left:2px;
  top:87px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:10px;
  top:110px;
  width:170px;
  height:190px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:190px;
}
#u13 {
  position:absolute;
  left:2px;
  top:87px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:27px;
  top:16px;
  width:87px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:27px;
  top:73px;
  width:121px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:35px;
  top:182px;
  width:109px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:10px;
  top:320px;
  width:640px;
  height:290px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:290px;
}
#u21 {
  position:absolute;
  left:2px;
  top:137px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:10px;
  top:320px;
  width:640px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:636px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:10px;
  top:320px;
  width:170px;
  height:50px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:10px;
  top:370px;
  width:640px;
  height:50px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:636px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:10px;
  top:370px;
  width:170px;
  height:50px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:10px;
  top:420px;
  width:640px;
  height:190px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:190px;
}
#u31 {
  position:absolute;
  left:2px;
  top:87px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:10px;
  top:420px;
  width:170px;
  height:190px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:190px;
}
#u33 {
  position:absolute;
  left:2px;
  top:87px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:27px;
  top:326px;
  width:87px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:27px;
  top:383px;
  width:121px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:35px;
  top:492px;
  width:109px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:10px;
  top:630px;
  width:640px;
  height:290px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:290px;
}
#u41 {
  position:absolute;
  left:2px;
  top:137px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:10px;
  top:630px;
  width:640px;
  height:50px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
}
#u43 {
  position:absolute;
  left:2px;
  top:17px;
  width:636px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:10px;
  top:630px;
  width:170px;
  height:50px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
}
#u45 {
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:10px;
  top:680px;
  width:640px;
  height:50px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
}
#u47 {
  position:absolute;
  left:2px;
  top:17px;
  width:636px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:10px;
  top:680px;
  width:170px;
  height:50px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
}
#u49 {
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:10px;
  top:730px;
  width:640px;
  height:190px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:190px;
}
#u51 {
  position:absolute;
  left:2px;
  top:87px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:10px;
  top:730px;
  width:170px;
  height:190px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:190px;
}
#u53 {
  position:absolute;
  left:2px;
  top:87px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:27px;
  top:636px;
  width:87px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:27px;
  top:693px;
  width:121px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:35px;
  top:802px;
  width:109px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:10px;
  top:950px;
  width:640px;
  height:290px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:290px;
}
#u61 {
  position:absolute;
  left:2px;
  top:137px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:10px;
  top:950px;
  width:640px;
  height:50px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
}
#u63 {
  position:absolute;
  left:2px;
  top:17px;
  width:636px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:10px;
  top:950px;
  width:170px;
  height:50px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
}
#u65 {
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:10px;
  top:1000px;
  width:640px;
  height:50px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
}
#u67 {
  position:absolute;
  left:2px;
  top:17px;
  width:636px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:10px;
  top:1000px;
  width:170px;
  height:50px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
}
#u69 {
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:10px;
  top:1050px;
  width:640px;
  height:190px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:190px;
}
#u71 {
  position:absolute;
  left:2px;
  top:87px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:10px;
  top:1050px;
  width:170px;
  height:190px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:190px;
}
#u73 {
  position:absolute;
  left:2px;
  top:87px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:27px;
  top:956px;
  width:87px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:27px;
  top:1013px;
  width:121px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:35px;
  top:1122px;
  width:109px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:10px;
  top:1260px;
  width:640px;
  height:290px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:290px;
}
#u81 {
  position:absolute;
  left:2px;
  top:137px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:10px;
  top:1260px;
  width:640px;
  height:50px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
}
#u83 {
  position:absolute;
  left:2px;
  top:17px;
  width:636px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:10px;
  top:1260px;
  width:170px;
  height:50px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
}
#u85 {
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:10px;
  top:1310px;
  width:640px;
  height:50px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
}
#u87 {
  position:absolute;
  left:2px;
  top:17px;
  width:636px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:10px;
  top:1310px;
  width:170px;
  height:50px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
}
#u89 {
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:10px;
  top:1360px;
  width:640px;
  height:190px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:190px;
}
#u91 {
  position:absolute;
  left:2px;
  top:87px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:10px;
  top:1360px;
  width:170px;
  height:190px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:190px;
}
#u93 {
  position:absolute;
  left:2px;
  top:87px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:27px;
  top:1266px;
  width:87px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:27px;
  top:1323px;
  width:121px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:35px;
  top:1432px;
  width:109px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:10px;
  top:1570px;
  width:640px;
  height:290px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:290px;
}
#u101 {
  position:absolute;
  left:2px;
  top:137px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:10px;
  top:1570px;
  width:640px;
  height:50px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
}
#u103 {
  position:absolute;
  left:2px;
  top:17px;
  width:636px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:10px;
  top:1570px;
  width:170px;
  height:50px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
}
#u105 {
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:10px;
  top:1620px;
  width:640px;
  height:50px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
}
#u107 {
  position:absolute;
  left:2px;
  top:17px;
  width:636px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:10px;
  top:1620px;
  width:170px;
  height:50px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
}
#u109 {
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:10px;
  top:1670px;
  width:640px;
  height:190px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:190px;
}
#u111 {
  position:absolute;
  left:2px;
  top:87px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:10px;
  top:1670px;
  width:170px;
  height:190px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:190px;
}
#u113 {
  position:absolute;
  left:2px;
  top:87px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:27px;
  top:1576px;
  width:87px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:27px;
  top:1633px;
  width:121px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:35px;
  top:1742px;
  width:109px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:10px;
  top:1880px;
  width:640px;
  height:290px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:290px;
}
#u121 {
  position:absolute;
  left:2px;
  top:137px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:10px;
  top:1880px;
  width:640px;
  height:50px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
}
#u123 {
  position:absolute;
  left:2px;
  top:17px;
  width:636px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:10px;
  top:1880px;
  width:170px;
  height:50px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
}
#u125 {
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:10px;
  top:1930px;
  width:640px;
  height:50px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
}
#u127 {
  position:absolute;
  left:2px;
  top:17px;
  width:636px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:10px;
  top:1930px;
  width:170px;
  height:50px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
}
#u129 {
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:10px;
  top:1980px;
  width:640px;
  height:190px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:190px;
}
#u131 {
  position:absolute;
  left:2px;
  top:87px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:10px;
  top:1980px;
  width:170px;
  height:190px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:190px;
}
#u133 {
  position:absolute;
  left:2px;
  top:87px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:27px;
  top:1886px;
  width:87px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:27px;
  top:1943px;
  width:121px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:35px;
  top:2052px;
  width:109px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
