body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1998px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:2003px;
  height:1494px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u2 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:77px;
  top:0px;
  width:202px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:20px;
}
#u4 {
  position:absolute;
  left:2px;
  top:2px;
  width:198px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:279px;
  top:0px;
  width:247px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:20px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:243px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:526px;
  top:0px;
  width:203px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:199px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:729px;
  top:0px;
  width:865px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:861px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1594px;
  top:0px;
  width:241px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:20px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:237px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1835px;
  top:0px;
  width:163px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:20px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:159px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:20px;
  width:77px;
  height:436px;
  color:#1E1E1E;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:436px;
}
#u16 {
  position:absolute;
  left:2px;
  top:210px;
  width:73px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:77px;
  top:20px;
  width:202px;
  height:436px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:436px;
}
#u18 {
  position:absolute;
  left:2px;
  top:210px;
  width:198px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:279px;
  top:20px;
  width:247px;
  height:436px;
  color:#1E1E1E;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:436px;
}
#u20 {
  position:absolute;
  left:2px;
  top:178px;
  width:243px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:526px;
  top:20px;
  width:203px;
  height:436px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:436px;
}
#u22 {
  position:absolute;
  left:2px;
  top:210px;
  width:199px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:729px;
  top:20px;
  width:865px;
  height:436px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:436px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:861px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1594px;
  top:20px;
  width:241px;
  height:436px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:436px;
}
#u26 {
  position:absolute;
  left:2px;
  top:178px;
  width:237px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1835px;
  top:20px;
  width:163px;
  height:436px;
  color:#1E1E1E;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:436px;
}
#u28 {
  position:absolute;
  left:2px;
  top:210px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:456px;
  width:77px;
  height:113px;
  color:#1E1E1E;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:113px;
}
#u30 {
  position:absolute;
  left:2px;
  top:48px;
  width:73px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:77px;
  top:456px;
  width:202px;
  height:113px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:113px;
}
#u32 {
  position:absolute;
  left:2px;
  top:48px;
  width:198px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:279px;
  top:456px;
  width:247px;
  height:113px;
  color:#1E1E1E;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:113px;
}
#u34 {
  position:absolute;
  left:2px;
  top:40px;
  width:243px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:526px;
  top:456px;
  width:203px;
  height:113px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:113px;
}
#u36 {
  position:absolute;
  left:2px;
  top:48px;
  width:199px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:729px;
  top:456px;
  width:865px;
  height:113px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:113px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:861px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1594px;
  top:456px;
  width:241px;
  height:113px;
  color:#1E1E1E;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:113px;
}
#u40 {
  position:absolute;
  left:2px;
  top:48px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1835px;
  top:456px;
  width:163px;
  height:113px;
  color:#1E1E1E;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:113px;
}
#u42 {
  position:absolute;
  left:2px;
  top:48px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:569px;
  width:77px;
  height:52px;
  color:#1E1E1E;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:52px;
}
#u44 {
  position:absolute;
  left:2px;
  top:18px;
  width:73px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:77px;
  top:569px;
  width:202px;
  height:52px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:52px;
}
#u46 {
  position:absolute;
  left:2px;
  top:18px;
  width:198px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:279px;
  top:569px;
  width:247px;
  height:52px;
  color:#1E1E1E;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:52px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:243px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:526px;
  top:569px;
  width:203px;
  height:52px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:52px;
}
#u50 {
  position:absolute;
  left:2px;
  top:18px;
  width:199px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:729px;
  top:569px;
  width:865px;
  height:52px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:52px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:861px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:1594px;
  top:569px;
  width:241px;
  height:52px;
  color:#1E1E1E;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:52px;
}
#u54 {
  position:absolute;
  left:2px;
  top:18px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:1835px;
  top:569px;
  width:163px;
  height:52px;
  color:#1E1E1E;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:52px;
}
#u56 {
  position:absolute;
  left:2px;
  top:18px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:621px;
  width:77px;
  height:84px;
  color:#1E1E1E;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:84px;
}
#u58 {
  position:absolute;
  left:2px;
  top:34px;
  width:73px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:77px;
  top:621px;
  width:202px;
  height:84px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:84px;
}
#u60 {
  position:absolute;
  left:2px;
  top:34px;
  width:198px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:279px;
  top:621px;
  width:247px;
  height:84px;
  color:#1E1E1E;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:84px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:243px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:526px;
  top:621px;
  width:203px;
  height:84px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:84px;
}
#u64 {
  position:absolute;
  left:2px;
  top:34px;
  width:199px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:729px;
  top:621px;
  width:865px;
  height:84px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:84px;
}
#u66 {
  position:absolute;
  left:2px;
  top:10px;
  width:861px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:1594px;
  top:621px;
  width:241px;
  height:84px;
  color:#1E1E1E;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:84px;
}
#u68 {
  position:absolute;
  left:2px;
  top:34px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1835px;
  top:621px;
  width:163px;
  height:84px;
  color:#1E1E1E;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:84px;
}
#u70 {
  position:absolute;
  left:2px;
  top:34px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:705px;
  width:77px;
  height:180px;
  color:#1E1E1E;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:180px;
}
#u72 {
  position:absolute;
  left:2px;
  top:82px;
  width:73px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:77px;
  top:705px;
  width:202px;
  height:180px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:180px;
}
#u74 {
  position:absolute;
  left:2px;
  top:82px;
  width:198px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:279px;
  top:705px;
  width:247px;
  height:180px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:180px;
}
#u76 {
  position:absolute;
  left:2px;
  top:10px;
  width:243px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:526px;
  top:705px;
  width:203px;
  height:180px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:180px;
}
#u78 {
  position:absolute;
  left:2px;
  top:82px;
  width:199px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:729px;
  top:705px;
  width:865px;
  height:180px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:180px;
}
#u80 {
  position:absolute;
  left:2px;
  top:10px;
  width:861px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1594px;
  top:705px;
  width:241px;
  height:180px;
  color:#1E1E1E;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:180px;
}
#u82 {
  position:absolute;
  left:2px;
  top:82px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:1835px;
  top:705px;
  width:163px;
  height:180px;
  color:#1E1E1E;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:180px;
}
#u84 {
  position:absolute;
  left:2px;
  top:82px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:0px;
  top:885px;
  width:77px;
  height:180px;
  color:#1E1E1E;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:180px;
}
#u86 {
  position:absolute;
  left:2px;
  top:82px;
  width:73px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:77px;
  top:885px;
  width:202px;
  height:180px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:180px;
}
#u88 {
  position:absolute;
  left:2px;
  top:82px;
  width:198px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:279px;
  top:885px;
  width:247px;
  height:180px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:180px;
}
#u90 {
  position:absolute;
  left:2px;
  top:2px;
  width:243px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:526px;
  top:885px;
  width:203px;
  height:180px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:180px;
}
#u92 {
  position:absolute;
  left:2px;
  top:82px;
  width:199px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:729px;
  top:885px;
  width:865px;
  height:180px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:180px;
}
#u94 {
  position:absolute;
  left:2px;
  top:18px;
  width:861px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:1594px;
  top:885px;
  width:241px;
  height:180px;
  color:#1E1E1E;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:180px;
}
#u96 {
  position:absolute;
  left:2px;
  top:82px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:1835px;
  top:885px;
  width:163px;
  height:180px;
  color:#1E1E1E;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:180px;
}
#u98 {
  position:absolute;
  left:2px;
  top:82px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:0px;
  top:1065px;
  width:77px;
  height:244px;
  color:#1E1E1E;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:244px;
}
#u100 {
  position:absolute;
  left:2px;
  top:114px;
  width:73px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:77px;
  top:1065px;
  width:202px;
  height:244px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:244px;
}
#u102 {
  position:absolute;
  left:2px;
  top:114px;
  width:198px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:279px;
  top:1065px;
  width:247px;
  height:244px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:244px;
}
#u104 {
  position:absolute;
  left:2px;
  top:2px;
  width:243px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:526px;
  top:1065px;
  width:203px;
  height:244px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:244px;
}
#u106 {
  position:absolute;
  left:2px;
  top:114px;
  width:199px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:729px;
  top:1065px;
  width:865px;
  height:244px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:244px;
}
#u108 {
  position:absolute;
  left:2px;
  top:59px;
  width:861px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1594px;
  top:1065px;
  width:241px;
  height:244px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:244px;
}
#u110 {
  position:absolute;
  left:2px;
  top:98px;
  width:237px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:1835px;
  top:1065px;
  width:163px;
  height:244px;
  color:#1E1E1E;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:244px;
}
#u112 {
  position:absolute;
  left:2px;
  top:114px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:0px;
  top:1309px;
  width:77px;
  height:180px;
  color:#1E1E1E;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:180px;
}
#u114 {
  position:absolute;
  left:2px;
  top:82px;
  width:73px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:77px;
  top:1309px;
  width:202px;
  height:180px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:180px;
}
#u116 {
  position:absolute;
  left:2px;
  top:82px;
  width:198px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:279px;
  top:1309px;
  width:247px;
  height:180px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:180px;
}
#u118 {
  position:absolute;
  left:2px;
  top:2px;
  width:243px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:526px;
  top:1309px;
  width:203px;
  height:180px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:180px;
}
#u120 {
  position:absolute;
  left:2px;
  top:82px;
  width:199px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:729px;
  top:1309px;
  width:865px;
  height:180px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:180px;
}
#u122 {
  position:absolute;
  left:2px;
  top:42px;
  width:861px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1594px;
  top:1309px;
  width:241px;
  height:180px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:180px;
}
#u124 {
  position:absolute;
  left:2px;
  top:66px;
  width:237px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:1835px;
  top:1309px;
  width:163px;
  height:180px;
  color:#1E1E1E;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:180px;
}
#u126 {
  position:absolute;
  left:2px;
  top:82px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:1803px;
  top:1499px;
  width:177px;
  height:42px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:45px;
}
#u127_img.mouseOver {
}
#u127.mouseOver {
}
#u128 {
  position:absolute;
  left:2px;
  top:9px;
  width:173px;
  word-wrap:break-word;
}
#u127_ann {
  position:absolute;
  left:1973px;
  top:1495px;
  width:1px;
  height:1px;
}
